:root {
    --dark-blue-color: #151c61;
    --blue-color: #444b98;
    --white-color: #e4e4e4;
    --black-color: #272727;
    --sand-color: #e2cf7d;
    --orange-color: #cb9b37;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #444b98;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #e2cf7d;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #e2cf7d;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

* {
    font-family: 'GFS Neohellenic', sans-serif;
    text-decoration: none !important;
}

a:visited {
  text-decoration: none;
}

body {
    margin: 0;
    background-color: var(--white-color);
    overflow-x: hidden;
}

header {
    display: flex;
    align-items: center;
    position: relative;
    background-color: var(--blue-color);
    padding: 0rem 0.5rem;
}

.img_header, .menu_img {
    width: 60px;
    height: 60px;

    @media screen and (max-width: 800px) {
      width: 48px;
      height: 48px;
    }
}

.img_header_admin {
    position: absolute;
    width: 50px;
    height: 50px;

    @media screen and (max-width: 800px) {
      width: 38px;
      height: 38px;
    }
}

.title_wrapper {
    display: flex;
    align-items: center;
    position: absolute;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title_header {
    font-size: 2.2rem;
    border-bottom: 2px solid var(--sand-color);
    color: var(--sand-color);

    @media screen and (max-width: 800px) {
      font-size: 1.4rem;
      border-bottom: none;
    }
}

/* ---------- menu burger ---------- */

#menu {
    z-index: 2;
    overflow: hidden;
  }
  
  #menu-bar {
    width: 40px;
    height: 30px;
    margin: 25px 30px 20px 0;
    cursor: pointer;
  }
  
  .bar {
    height: 4px;
    width: 100%;
    background-color:  var(--sand-color);
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
  }
  
  #bar1 {
    transform: translateY(-4px);
  }
  
  #bar3 {
    transform: translateY(4px);
  }
  
  .nav {
    transition: 0.3s ease;
    display: none;
  }
  
  .nav ul {
    padding: 0 22px;
  }
  
  .nav li {
    list-style: none;
    padding: 12px 0;
  }
  
  .nav li a {
    color: rgb(133, 133, 133);
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
  }
  
  .nav li a:hover {
    color: rgb(51, 51, 51);
  }
  
  .menu-bg, #menu {
    top: 0;
    right: 0;
    position: absolute;
  }
  
  .menu-bg {
    position: absolute;
    z-index: 1;
    width: 0;
    height: 0;
    background: radial-gradient(circle, var(--sand-color),  var(--sand-color));
    border: 1px solid var(--black-color);
    border-radius: 50%;
    transition: 0.3s ease;
  }
  
  .change {
    display: block;
  }
  
  .change .bar {
    background-color: rgb(39, 39, 39);
  }
  
  .change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
  }
  
  .change #bar2 {
    opacity: 0;
  }

  
  .change #bar3 {
    transform: translateY(-5px) rotateZ(45deg);
  }
  
  .change #bar1, .change #bar3, .change #bar2 {
    position: relative;
    left: 100px;
  }

  .change-bg {
    width: 350px;
    height: 425px;
    transform: translate(40%,-30%);
  }