.hello_user {
    display: flex;
    justify-content: center;
}

.container_avatar {
    max-width: 460px;
    margin: 30px auto;
}

.avatar-upload {
    display: flex;
    justify-content: center;
}

.avatar-preview {
    display: flex;
    justify-content: center;
    width: 192px;
    height: 192px;
    position: relative;
    overflow: hidden;
    border-radius: 100%;
    border: 6px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.imagePreview {
    position: absolute;
    width: 190px;
}