.hello_user {
    display: flex;
    justify-content: center;
}

body {
    background: whitesmoke;
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 960px;
    margin: 30px auto;
    padding: 20px;
}

.hello_user {
    font-size: 20px;
    text-align: center;
    margin: 20px 0 20px;
}

.avatar-upload {
    position: relative;
    max-width: 205px;
    margin: 50px auto;
}