{% extends 'base.html.twig' %}

{% block title %}Modifier le post !{% endblock %}

{% block body %}
    <h1 class="title_admin">Modifier le post !</h1>

    {{ include('post/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="button_crud" href="{{ path('app_post_index') }}">Retour</a>

    {{ include('post/_delete_form.html.twig') }}
{% endblock %}
