<header>
    <img class="img_header" src="{{ asset('/img/zeus.svg') }}" alt="logo du blog">
    <div class="title_header">Olympus Blogus</div>
    <div class="menu">
        <img class="menu_img" src="{{ asset('/img/burger.svg') }}" alt="burger menu icon">
    </div>
    {# <nav>
        <ul>
            <li>
                <a href="{{path('app_main')}}">Home</a>
            </li>
        </ul>
    </nav> #}
</header>